<div class="row content-background"> 
    <div class="col-md-2" style="color: white; font-size: medium;">My Medicine</div>
    <div class="text-center col-md-8">
        <button mat-raised-button class="option-style" routerLink='/doctor/medicine-management/view-medicine-list' routerLinkActive='active' >
             List of All Medicine 
        </button>
    
        <button mat-raised-button class="option-style" routerLink='/doctor/medicine-management/add-medicine' routerLinkActive='active' >
             Add New Medicine  
        </button>
    </div>
</div>

<div class="content-body">
    <router-outlet></router-outlet>
</div>



  