<div class="row content-background"> 
    <div class="col-md-2" style="color: white; font-size: medium;">My Patient</div>
    <div class="text-center col-md-8">
        <button mat-raised-button class="option-style" routerLink='/doctor/patient-management/view-patient-list' routerLinkActive='active' >
             All Patient List
        </button>
    
        <button mat-raised-button class="option-style" routerLink='/doctor/patient-management/add-patient' routerLinkActive='active' >
             Add New Patient  
        </button>
    </div>
</div>

<div class="content-body">
    <router-outlet></router-outlet>
</div>



  