<br>
 
<div class="row">
    <div class="col-md-6 offset-md-3" style="align-items: left;">
        <h1 class="text-center"><b>ADD A NEW PATIENT TO LIST</b></h1>
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="addPatient()">
            <div class="form-group required">
                <label>Patient Name</label>
                <input class="form-control" formControlName="Name">
            </div>
            <br>
            <div class="form-group required">
                <label>Age</label>
                <input class="form-control" formControlName="Age">
            </div>
            <br>
            <div class="form-group required">
                <label>Blood Groop</label>
                <input class="form-control" formControlName="BloodGroup">
            </div>
            <br>
            <div class="form-group required">
                <label>Weight</label>
                <input class="form-control" formControlName="Weight">
            </div>
            <br>
            <div class="form-group required">
                <label>Mobile Number</label>
                <input class="form-control" formControlName="MobileNumber">
            </div>
            <br>
            <div class="form-group required">
                <label>Address</label>
                <input class="form-control" formControlName="Address">
            </div>
            <br>
            <div class="form-group required">
                <label>Disease</label>
                <input class="form-control" formControlName="Disease">
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-lg btn-block" style="background-color: #0057ad;">SUBMIT</button>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>
